#title {
  background-attachment: scroll;
  background-size: cover;
  background-image: url('img/vintage-gas-station.jpg');
  height: 100vh;
}

#title img{
  float:left;
  height: 2.5em;
  margin: 32px 5px
}

#title div{
  padding-top: 10px;
  padding-bottom: 10px;
}


#title h1{
  font-size: 2.5em;
  text-transform: uppercase;
  font-style: italic;
  text-align: left;
}
#title p{
  font-size: 4em;
  font-weight: 300;
}

#license a:hover{
  color: lightblue;
}

form {
  margin-top: 15vh;
}

input[type=text]{
  width: 50%;
}

select {
  padding: 7px 20px;
  margin: 8px 0;
}

input[type=text] {
    font-family: 'Lato', sans-serif;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

@media (max-width: 1024px) {
  #title {
    font-size: 0.8em;
  }
  #title div{
    text-align: center;
  }
}
