@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

body {
  font-family: 'Lato', sans-serif;
}

a {
   color: inherit;
   text-decoration: none;
}

.color-white{
  color: white;
  text-shadow: black 2px 2px 3px;
}

.container{
  margin: auto;
  width: 1024px;
  text-align: center;
}

.box {
  width: 50%;
  float: left;
}

.box-element{
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
}

.clear:before, .clear:after {
	content:"";
	display:block;
	overflow:hidden
}
.clear:after {
	clear:both
}

.color-warning {
  color: red;
}

.color-ok{
  color: green;
}

@media (max-width: 1024px) {
  .container{
    margin: auto;
    width: 90%;
    text-align: center;
  }
  .box{
    width: 100%;
    float: none;
  }
}
