{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}" />
    <link rel="stylesheet" href="http://openlayers.org/en/v3.16.0/css/ol.css" type="text/css">
    <script src="http://openlayers.org/en/v3.16.0/build/ol.js"></script>
{% endblock %}
{% block title %}Tankstellen in der Nähe{% endblock %}
{% block content %}
  <section id="title">
    <div class="container color-white">
      <h1>Ergebnisse</h1>
      <p>Es befinde{% if stations|length != 1 %}n{% else %}t{% endif %} sich <span class="text-emph color-rost">{{ stations|length }}</span> Tankstelle{% if stations|length != 1 %}n{% endif %} im Umkreis von {{ rad }} Kilometer{% if rad != "1" %}n{% endif %}.</p>
    </div>
  </section>
  <section id="statistics">
    <div class="container clear">
      <div class="box average-prices">
        <h2>Durchschnittspreise in Ihrer Nähe</h2>
        <table>
          <tr>
            <td>{{ "{:,.2f}".format(average_prices[0]) }}&euro;</td>
            <td><img src="{{ url_for('static', filename='img/e10.png') }}" alt="E10"></td>
          </tr>
          <tr>
            <td>{{ "{:,.2f}".format(average_prices[1]) }}&euro;</td>
            <td><img src="{{ url_for('static', filename='img/e5.png') }}" alt="E5"></td>
          </tr>
          <tr>
            <td>{{ "{:,.2f}".format(average_prices[2]) }}&euro;</td>
            <td><img src="{{ url_for('static', filename='img/diesel.png') }}" alt="Diesel"></td>
          </tr>
        </table>
      </div>
      <div class="box best-time">
        <h2>Günstigste Tankzeit</h2>
        <p>Im Schnitt ist der Treibstoff in Ihrer Nähe um diese Uhrzeit am günstigsten:</p>
        <table>
          <tr>
            <td>{{ best_time[0] }} Uhr</td>
            <td><img src="{{ url_for('static', filename='img/e10.png') }}" alt="E10"></td>
          </tr>
          <tr>
            <td>{{ best_time[1] }} Uhr</td>
            <td><img src="{{ url_for('static', filename='img/e5.png') }}" alt="E5"></td>
          </tr>
          <tr>
            <td>{{ best_time[2] }} Uhr</td>
            <td><img src="{{ url_for('static', filename='img/diesel.png') }}" alt="Diesel"></td>
          </tr>
        </table>
      </div>
    </div>
  </section>
  <section>
    <div id="map" class="map"><div id="popup"></div></div>
  </section>
  <section id="station-list">
    <div class="container clear">
      {% for station in stations %}
        <a href="{{ url_for('get_station', id=station['id']) }}">
          <div class="station">
            <h2 style="text-transform: capitalize;">{{ station['brand']|lower|truncate(25) }}</h2>
            <table>
              <tr>
                <td>{{ station['e10'] }}&euro;</td>
                <td><img src="{{ url_for('static', filename='img/e10.png') }}" alt="E10">{% if station['top_prices'][0] %} <img src="{{ url_for('static', filename='img/top.png') }}" alt="Günstigster Preis">{% endif %}</td>
              </tr>
              <tr>
                <td>{{ station['e5'] }}&euro;</td>
                <td><img src="{{ url_for('static', filename='img/e5.png') }}" alt="E5">{% if station['top_prices'][1] %} <img src="{{ url_for('static', filename='img/top.png') }}" alt="Günstigster Preis">{% endif %}</td>
              </tr>
              <tr>
                <td>{{ station['diesel'] }}&euro;</td>
                <td><img src="{{ url_for('static', filename='img/diesel.png') }}" alt="Diesel">{% if station['top_prices'][2] %} <img src="{{ url_for('static', filename='img/top.png') }}" alt="Günstigster Preis">{% endif %}</td>
              </tr>
            </table>
            <p>Entfernung: {{ station['dist'] }}km<br>{{ station['street']|lower }} {{ station['houseNumber']|lower }}, {{ station['postCode'] }} {{ station['place']|lower }}</p>
          </div>
        </a>
      {% endfor %}
    </div>
  </section>
  <script>
    // Receiving station information from backend as json data.
    stations = {{ stations|tojson|safe }}
    // Using transformed coordinate information to set position of an icon feature.
    var iconFeature = new ol.Feature({
      geometry: new ol.geom.Point(ol.proj.transform([{{ pos[1] }}, {{ pos[0] }}], 'EPSG:4326', 'EPSG:3857')),
      name: 'Ihre Position'
    });
    // Generate the image which should represent the users location and set its anchor positions.
    var iconStyle = new ol.style.Style({
      image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
        anchor: [0.5, 1],
        anchorXUnits: 'fraction',
        anchorYUnits: 'fraction',
        src: '{{ url_for('static', filename='img/me_tag.png') }}'
      }))
    });
    // Set icon style and add the icon feature to the icons list.
    iconFeature.setStyle(iconStyle);
    var icons = [iconFeature]

    // Loop to add all gas station positions to the map, using the station information from above.
    for (var i = 0; i < stations.length; i++) {
      station = stations[i]
      var iconFeature = new ol.Feature({
        geometry: new ol.geom.Point(ol.proj.transform([station['lng'], station['lat']], 'EPSG:4326', 'EPSG:3857')),
        name: station['name'],
        address: station['street'] + ' ' + station['houseNumber'] + ', ' + station['postCode'] + ' ' + station['place'],
        e10: station['e10'],
        e5: station['e5'],
        diesel: station['diesel']
      });

      var iconStyle = new ol.style.Style({
        image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
          anchor: [0.5, 1],
          anchorXUnits: 'fraction',
          anchorYUnits: 'fraction',
          src: '{{ url_for('static', filename='img/station_tag.png') }}'
        }))
      });

      iconFeature.setStyle(iconStyle);
      icons.push(iconFeature)
    }

    // The icons list now contains all icon features, so add those to a vector source.
    var vectorSource = new ol.source.Vector({
      features: icons
    });
    // Create a vector layer which gets the vector source created above as source.
    var vectorLayer = new ol.layer.Vector({
      source: vectorSource
    });

    // Now create the map object which receives the vector layer and a Tile layer from mapquest.
    // Also set target div and the view to the users position.
    var map = new ol.Map({
      target: 'map',
      interactions: ol.interaction.defaults({mouseWheelZoom:false}),
      layers: [
        new ol.layer.Tile({
          source: new ol.source.MapQuest({layer: 'osm'})
        }), vectorLayer
      ],
      view: new ol.View({
        center: ol.proj.fromLonLat([{{ pos[1] }}, {{ pos[0] }}]),
        zoom: 14
      })
    });
  </script>
{% endblock %}
